@{
    ViewBag.Title = "Welcome";
}
<header class="hero-unit">
  <h1>Structure</h1>
  <p>MVC3 Architecture Quickstart</p>
  <p>Structure contains all the elements of a well separated application with standard logging, error handling, data presentation, and a dozen other buzzwords your boss will love to hear.</p>
  <p>
    <a class="btn btn-primary btn-large">
      Learn more
    </a>
  </p>
</header>
