@model Structure.Web.Models.Clients.ListViewModel
@{
    ViewBag.Title = "Clients";
}
<div class="row">
    <div class="span12">
        <h2>Clients</h2>
        @{Html.RenderPartial("_List", Model.Clients);}
    </div>
</div>